{% extends 'base.html' %}
{% block content %} 
<h1>Edit</h1>
<form action="" method="post">
    {% csrf_token %} 
    {{ form.as_p }}
    <button class="btn btn-info ml-2" type="submit">Update</button> 
</form>
<script type="text/javascript">
    /* NOTE : Use web server to view HTML files as real-time update will not work if you directly open the HTML file in the browser. */
    (function(d, m){
      var kommunicateSettings = {"appId":"fc2948a667f26b98b7a394aa647a3ca","popupWidget":true,"automaticChatOpenOnNavigation":true};
      var s = document.createElement("script"); s.type = "text/javascript"; s.async = true;
      s.src = "https://widget.kommunicate.io/v2/kommunicate.app";
      var h = document.getElementsByTagName("head")[0]; h.appendChild(s);
      window.kommunicate = m; m._globals = kommunicateSettings;
    })(document, window.kommunicate || {});
</script>
{% endblock content %}